<%= flash[:notice] %>
<div>
    <h4 class="deepshadow">Flight Data</h4>
        <%= form_tag import_flights_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV", :class => 'myButton' %>
        <% end %>
</div>
<table>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Schedule Departure</th>
            <th>Departure Terminal</th>
            <th>Departure Gate</th>
            <th>Aircraft Type</th>
            <th>Tail Number</th>
            <th>Off Block</th>
            <th>Take Off Time</th>
            <th>Cancelled</th>
            <th>Time on Runway</th>
            <th>Minutes Late Departed</th>
        </tr>
    </thead>
    <tbody>
        <% @flights.each do |flight| %>
            <% if flight.scheddepapt == "LGA" && flight.depterminal == 'B' %>
                <tr>
                    <td><%= flight.airlinecode %></td>
                    <td><%= flight.flightnumber %></td>
                    <td><%= flight.scheddepapt %></td>
                    <td><%= flight.schedarrapt %></td>
                    <td><%= flight.scheddeplocal %></td>
                    <td><%= flight.depterminal %></td>
                    <td><%= flight.depgate %></td>
                    <td><%= flight.aircrafttype %></td>
                    <td><%= flight.tailnumber %></td>
                    <td><%= flight.outgatelocal %></td>
                    <td><%= flight.inairlocal %></td>
                    <td><%= flight.cancelled %></td>
                    <td><%= flight.acttaxitimedep %></td>
                    <td><%= flight.minlatedeparted %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

