<%= flash[:notice] %>
<div>
    <h4 class="deepshadow">Flight Data</h4>
        <%= form_tag import_flights_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import CSV", :class => 'myButton' %>
        <% end %>
</div>
<table>
<%
=begin
%>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Schedule Departure</th>
            <th>Departure Terminal</th>
            <th>Departure Gate</th>
            <th>Aircraft Type</th>
            <th>Tail Number</th>
            <th>Off Block</th>
            <th>Take Off Time</th>
            <th>Cancelled</th>
            <th>Time on Runway</th>
            <th>Minutes Late Departed</th>
        </tr>
    </thead>

    <tbody>
        <% @flights.each do |flight| %>
            <% if flight.scheddepapt == "LGA" && flight.depterminal == 'B' && flight.airlinecode == 'UA' && flight. %>
                <tr>
                    <td><%= flight.airlinecode %></td>
                    <td><%= flight.flightnumber %></td>
                    <td><%= flight.scheddepapt %></td>
                    <td><%= flight.schedarrapt %></td>
                    <td><%= flight.scheddeplocal %></td>
                    <td><%= flight.depterminal %></td>
                    <td><%= flight.depgate %></td>
                    <td><%= flight.aircrafttype %></td>
                    <td><%= flight.tailnumber %></td>
                    <td><%= flight.outgatelocal %></td>
                    <td><%= flight.inairlocal %></td>
                    <td><%= flight.cancelled %></td>
                    <td><%= flight.acttaxitimedep %></td>
                    <td><%= flight.minlatedeparted %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
<%
=end
%>
    <thead>
        <tr>
            <th>Arrival</th>
            <th>Departure</th>
            <th>TailNumber</th>
            <th>Arrival's Airport</th>
            <th>Departure's Airport</th>
            <th>Departure's Terminal</th>
            <th>Arrival's Terminal</th>
            <th>Arrival's Gate</th>
            <th>Departure's Gate</th>
        </tr>
    </thead>
    <tbody>
        <% @flights.each do |couple| %>
            <% if couple.depterminal == "B" && couple.arrterminal == 'B' %>
                <tr>
                    <td><%= couple.airlinecode %> | <%= couple.flightnumber %></td>
                    <td><%= couple.airlinecode %> | <%= couple.flightnumber %></td>
                    <td><%= couple.tailnumber %> | <%= couple.tailnumber %></td>
                    <td><%= couple.schedarrapt %></td>
                    <td><%= couple.scheddeplocal %></td>
                    <td><%= couple.depterminal %></td>
                    <td><%= couple.arrterminal %></td>
                    <td><%= couple.arrgate %></td>
                    <td><%= couple.depgate %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>

